/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/03/2016, 01:07:21 PM
    Author     : mrandretti
*/

* {
    margin: 0;
    padding: 0;
}

body {
    background: cadetblue;
    color: white ;
}

header {
    margin: 0;
    padding: 0;
}

header div {
    width: 45%;
    display: inline-block;
    padding: 0;
    margin: auto 10px;
   
}

label{
    width: 100%;
    display: block;
   
}
.dark{
    background: white;
    color: black;
}

.nombre, .ciudad, .figura, .domicilio, .ci, .email, .stands, select{
    width: 97%;
    margin-bottom: 10px;
    border: 2px solid lightslategray;
    background: white;
    color: black;
}

.main table{
    background: white;
    width:100%;
    padding: 10px;
    border: 1px solid lightslategray;
    border-collapse: collapse;
}

td{
     border: 2px solid lightslategray;
     padding: 10px;
}

input:focus{
    border: 2px solid cadetblue;
}        
input[type="submit"]{
    background: cadetblue;
    color: black;
    display: block;
    width: 97%;
    padding: 10px;    
}
header h2 {
    margin: 10px auto auto;
}

header, footer, .wrapper{
    width: 90%;
    max-width: 1000px;
    margin: 25px auto;}

.main{
    background: white;
    color: black;
    margin: 0;
    padding: 20px;
}
.main article{
    width: 90%;
    margin: 20px;
}
article p , h3 {
    margin: 20px;
}
 
.main div {
    position: relative;
    text-align: center;
    
}

.main a{
    text-decoration: none;
    padding: 10px;
    background: cadetblue;
    color: black;
    
}
.main a:hover {
    background: activeborder;
    color: black;
}
.main a:active {
    background: black;
}
.wrapper form{
    width: 50%;
    border: 2px solid white;
    margin: 20px 0px;
    padding: 20px;
    
}
form textarea{
    width: 100%;
    margin: 10px 0px;
    resize: vertical;
    min-height: 100px;
    max-height: 400px;
}
textarea:focus{
    border: 2px solid darkgray;
}
form input{
    width: 25%;
    padding: 5px;
    background: black;
    color: white;  
}
form input:hover{
    background: white;
    color: black;
    cursor: pointer;
}
footer{
    background: white;
    color: black;
    padding: 10px;
    text-align: center;
}